#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        sys_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        WiN_d_r {
            bindings = <&Win_D_r>;
            key-positions = <6 3>;
        };
    };

    macros {
        Win_D_r: Win_D_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_WIN &kp RIGHT>,
                <&macro_release>;

            label = "WIN_D_R";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A  &kp B  &kp C  &kp D
&kp E  &kp F  &kp G  &kp H
                     &lt 1 ESC  &lt 2 ENTER
            >;
        };

        lower_layer {
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
                     &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&none  &none  &none  &none
&none  &none  &none  &none
                     &trans  &trans
            >;
        };

        system_layer {
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &studio_unlock
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none           &none
            >;
        };
    };
};
