#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        sys_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        ctrl_win_r {
            bindings = <&Ctrl_win_r>;
            key-positions = <6 3>;
        };

        ctrl_win_l {
            bindings = <&ctrl_win_l>;
            key-positions = <2 7>;
        };

        previous_tab {
            bindings = <&kp LS(LC(TAB))>;
            key-positions = <0 1>;
        };

        next_tab {
            bindings = <&kp LC(TAB)>;
            key-positions = <3 2>;
        };

        close_the_tab {
            bindings = <&kp LC(W)>;
            key-positions = <1 2>;
        };

        new_tab {
            bindings = <&kp LC(T)>;
            key-positions = <0 3>;
        };

        closed_tab {
            bindings = <&kp LC(T)>;
            key-positions = <3 0 1>;
        };

        end_tab {
            bindings = <&kp LC(N9)>;
            key-positions = <3 2 0>;
        };

        win_R {
            bindings = <&kp LG(R)>;
            key-positions = <5 0>;
        };

        win_E {
            bindings = <&kp LG(E)>;
            key-positions = <4 1>;
        };
    };

    macros {
        Ctrl_win_r: Win_D_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_WIN &kp RIGHT>,
                <&macro_release>,
                <&kp LCTRL &kp LEFT_WIN &kp RIGHT>;

            label = "WIN_D_R";
        };

        ctrl_win_l: ctrl_win_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_WIN &kp LEFT>,
                <&macro_release>,
                <&kp LCTRL &kp LEFT_WIN &kp LEFT>;

            label = "CTRL_WIN_L";
        };

        start_notepad: start_notepad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN &kp S>,
                <&macro_release>,
                <&kp LEFT_WIN &kp S>,
                <&macro_tap>,
                <&kp LT &kp K &kp J &kp R &kp Y &kp J &kp N &kp ENTER>;

            label = "START_NOTEPAD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none        &none      &ctrl_win_l  &Ctrl_win_r
&lt 4 LC(C)  &kp LC(V)  &kp F13      &start_notepad
                                     &lt 1 ESC       &lt 2 ENTER
            >;
        };

        lower_layer {
            bindings = <
&none           &none  &none  &none
&start_notepad  &none  &none  &none
                              &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&start_notepad  &mkp LCLK       &mmv MOVE_UP    &mkp RCLK
&none           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT
                                                &trans           &trans
            >;
        };

        system_layer {
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &studio_unlock
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none           &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &kp LG(E)  &kp LG(R)  &kp LG(I)
&trans  &kp LG(V)  &kp LG(S)  &kp LG(L)
                              &trans     &trans
            >;
        };
    };
};
